<div class="container">
  <!-- banner row -->
  <div class="row">
    <div class="col-sm-12">


      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner h">
          <div class="carousel-item active">
            <img src="../assets/image/banner.jpg" class="d-block w-100" alt="...">
            <div class="position-absolute top-0 end-0">
              <h1 class="display-3 text-white">Look deep into nature, .</h1>
              <small class="display-6 text-white">and then you will understand everything better </small>
              <p>
                <button class="btn btn-primary">know more..</button>
              </p>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  
  <!-- gallary row -->

  <div class="row mt-2">
    <div class="col-sm-4">
      <div class="card h-2">
        <img src="../assets/image/banner1.jpg" class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">plants..</h5>
          <p class="card-text">Heaven is under our feet as well as over our heads. —Henry David Thoreau</p>
          <button class="btn btn-primary">know more</button>

        </div>

      </div>

    </div>

    <div class="col-sm-4">
      <div class="card h-2">
        <img src="../assets/image/banner2.jpg" class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">sunrise..</h5>
          <p class="card-text">we don’t inherit the earth from our ancestors, we borrow it from our children.</p>
          <button class="btn btn-primary">know more</button>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card  h-2">
        <img src="../assets/image/banner3.jpg" class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Lake..</h5>
          <p class="card-text">Blossom by blossom the spring begins.” — Algernon Charles Swinburnre.</p>
          <button class="btn btn-primary">know more</button>

        </div>

      </div>
    </div>


  </div>
</div>